
// MIXIN - Titulos y subitulos
@mixin body ($align, $size, $pTop, $pBot){
    font-family: "Days One", sans-serif;
    color: #2e2c2c;
    text-align: $align;
    font-size: $size;
    padding-top: $pTop;
    padding-bottom: $pBot;
}

@mixin grid-container ($area, $pad, $border, $borderR, $marg) {
    grid-area: $area;
    padding: $pad;
    border: $border;
    border-radius: $borderR;
    margin: $marg;
}
