$color-primary: black;
$color-secondary: whitesmoke;
$colorsecondary: blueviolet;
$colores: (blue,yellow,black, blueviolet);
$vista: desktop;


$estilos: (
    color: blueviolet,
    alineacion: left,
    font-size: 25px,
    relleno: 1rem
);
