@import "utilities/variable";

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

@if $vista ==desktop {
  h1 {
    color: whitesmoke;
  }
} @else {
  h1 {
    color: gray;
  }
}


html {
  scroll-behavior: smooth;

  body {
    font-family: "Roboto", sans-serif;
    margin: 0;

    h1 {
      font-size: 3.5em;
    }

    h2 {
      font-size: 3.7em;
    }

    h3 {
      font-size: 2em;
    }

    h4 {
      text-align: center;
    }

    ul {
      list-style: none;
    }

    li {
      font-size: 1.25em;
    }
  }
}

//Header
header {
  background-color: $color-secondary;

  .p {
    font-size: 1.25em;
  }

  .logo {
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: blueviolet;
    font-size: 1.6em;
  }

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  nav {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
  }

  a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: $color-primary;
  }

  a:hover {
    color: blueviolet;
  }
}

main {
  min-height: 100vh;
  background-image: linear-gradient(rgb(77, 77, 77), rgb(255, 255, 255));
}

.container {
  max-width: 1400px;
  margin: auto;
}

.color-acento {
  color: blueviolet;
}

.card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./../img/Producto\ 3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  h1 {
    color: white;
  }

  button {
    font-size: 1.75em;
  }
}

button {
  font-size: 1.25em;
  font-weight: bold;
  padding: 10px 30px;
  border-radius: 5px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  color: white;
  background-color: map-get($map: $estilos, $key: color);

  :hover {
    background-color: rgb(58, 1, 48);
    transition: background-color 2s;
  }

  a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
}

.card-puesto {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: 90vh;
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./../img/Tickets.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  button {
    font-size: 1.75em;
  }

  a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
  }
}

.somos-malaquita .container {
  text-align: center;
  padding: 200px 12px;
}

.somos-malaquita-us .container {
  text-align: center;
  padding: 200px 12px;
}

.nuestro-presupuesto {
  background-color: rgb(37, 37, 37);
  color: white;
  text-align: center;

  .container {
    padding: 150px 12px;
  }

  h2 {
    margin-top: 0;
    font-size: 3.2em;
  }

  .carta {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
  }

  p {
    display: none;
  }
}

.carta:first-child {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./../img/Producto\ 1.jpg");
}

.carta:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./../img/Producto\ 2.jpeg");
}

.carta:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./../img/Granos\ de\ cafe.jpg");
}

.nuestro-presupuesto-teria {
  background-color: rgb(37, 37, 37);
  color: white;
  text-align: center;

  .container {
    padding: 150px 12px;
  }

  h2 {
    margin-top: 0;
    font-size: 3.2em;
  }

  .carta-teria {
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
  }

  p {
    display: none;
  }
}

.carta-teria:first-child {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./../img/Chocolate.jpg");
}

.carta-teria:nth-child(2) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./../img/Donas.jpg");
}

.carta-teria:nth-child(3) {
  background-image: linear-gradient(
      0deg,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
    url("./../img/Desayuno.jpg");
}

.caracteristicas .container {
  text-align: center;
  padding: 250px 12px;

  li {
    margin: 16px 0px;
    font-weight: bold;
  }
}

.caracteristicas-us {
  background-color: rgb(43, 43, 43);
.container {
  text-align: center;
  padding: 250px 12px;
  background-color: rgb(43, 43, 43);

  li {
    margin: 16px 0px;
    font-weight: bold;
    text-align: center;
  }
}}

#gradientTopBottom {
  background-image: linear-gradient(rgb(77, 77, 77), rgb(255, 255, 255));
  width: 50%;
  max-width: 600px;
  text-align: initial;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

footer {
  background-color: rgb(230, 230, 230);

  .container {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: Center;
  }

  p {
    margin: 0;
    padding: 12px;
    color: rgb(100, 100, 100);
  }
}

form {
  width: 300px;
  padding: 16px;
  border-radius: 10px;
  margin: auto;
  background-image: linear-gradient(rgb(77, 77, 77), rgb(255, 255, 255));

  .contact {
    font-size: 2rem;
    text-align: center;
  }

  label {
    width: 72px;
    font-weight: bold;
    display: inline-block;
  }

  input[type="text"],
  input[type="email"] {
    width: 180px;
    padding: 3px 10px;
    border: 1 px solid #f6f6f6;
    border-radius: 3px;
    background-color: #f6f6f6;
    margin: 8px 0;
    display: inline-block;
  }
}

.submitButton {
  width: 100%;
  padding: 8px 16px;
  margin-top: 2rem;
  background-color: blueviolet;
  border-radius: 5px;
  color: white;

  :hover {
    cursor: pointer;
  }
}

.grid-container {
  background-image: linear-gradient(rgb(77, 77, 77), rgb(255, 255, 255));
  grid-template-columns: 50% 50%;
  grid-template-rows: 100px 70px auto 1fr 100px;
  grid-template-areas:
    "header header"
    "navLeft navRight"
    "text text"
    "image image"
    "footer footer";
}

// 850

@media (min-width: 850px) {
  header .container {
    flex-direction: row;
    justify-content: space-between;

    nav {
      flex-direction: row;
      padding-bottom: 0;
      padding-right: 20px;
    }
  }

  .card h1 {
    font-size: 5em;
  }

  .somos-malaquita {
    .container {
      display: flex;
      justify-content: space-evenly;
    }

    .img-container {
      background-image: url("./../img/Cielo.jpg");
      background-size: cover;
      background-position: center center;
      height: 500px;
      width: 400px;
    }

    .texto {
      width: 50%;
      max-width: 600px;
      text-align: initial;
      padding-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    h2 {
      margin-top: 0px;
    }
  }

  .somos-malaquita-us {
    .container {
      display: flex;
      justify-content: space-evenly;
    }

    .texto {
      width: 50%;
      max-width: 600px;
      text-align: initial;
      padding-left: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      border-right: 2rem;
    }

    h2 {
      margin-top: 0px;
    }
  }

  .nuestro-presupuesto.presupuesto {
    display: flex;
    justify-content: center;

    .carta {
      padding: 50px;
      background-size: 100% 150px;
      background-repeat: no-repeat;
      background-position-y: 0;
      background-color: rgba(50, 50, 50, 1);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    p {
      display: block;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 4em;
    }

    h3 {
      margin-top: 0;
    }
  }

  .carta:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("./../img/Producto\ 1.jpg");
  }

  .carta:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("./../img/Producto\ 2.jpeg");
  }

  .carta:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("./../img/Granos\ de\ cafe.jpg");
  }

  .nuestro-presupuesto-teria .presupuesto-teria {
    display: flex;
    justify-content: center;

    .carta-teria {
      padding: 50px;
      background-size: 100% 150px;
      background-repeat: no-repeat;
      background-position-y: 0;
      background-color: rgba(50, 50, 50, 1);
      box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
    }

    p {
      display: block;
      margin-bottom: 30px;
    }

    h2 {
      font-size: 4em;
    }

    h3 {
      margin-top: 0;
    }
  }

  .carta-teria:first-child {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("./../img/Chocolate.jpg");
  }

  .carta-teria:nth-child(2) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("./../img/Donas.jpg");
  }

  .carta-teria:nth-child(3) {
    background-image: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)
      ),
      url("./../img/Desayuno.jpg");
  }

  .caracteristicas {
    background-image: url("./../img/Logo.jpg");
    background-repeat: no-repeat;
    background-size: 500px 400px;
    background-position: calc(100vw - 500px) 120px;

    .container {
      text-align: initial;
    }

    h3 {
      text-align: center;
      display: grid;
    }

    ul {
      margin-left: 100px;
    }
  }

  .caracteristicas-us {
    background-color: rgb(43, 43, 43);
    height: 35rem;

    h3 {
      font-size: 2em;
      color: blueviolet;
    }

    li {
      text-align: center;
      color: white;
    }
  }

  footer .container {
    justify-content: center;
  }
}

.grid-container {
  background-image: linear-gradient(rgb(77, 77, 77), rgb(255, 255, 255));
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 170px auto 100px;
  grid-template-areas:
    "navLeft navLeft header header navRight navRight"
    "text text text image image image"
    "footer footer footer footer footer footer";
}

@media (min-width: 1200px) {
  .caracteristicas {
    background-position-x: calc(100vw - 800px);
  }
}

.caracteristicas-us {
  background-position-x: calc(100vw - 800px);
}
